@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    min-width: 320px;
  }

  ::selection {
    background: #56c7a3;
    color: #172026;
  }
}
